.ponza-main {
    color: #333;
    padding: 10px;
}
.ponza-card {
    position: relative;
    border: 1px solid #CFD8DC;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.ponza-card-title {
    margin-bottom: 10px;
    padding: 10px;
}

.ponza-card-title a{
    text-decoration: none;
    font-weight: bold;
    color: #009688;
}

.ponza-card-body {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.ponza-card-like-btn {
    float: right;
}

.ponza-card-like-icon {
    vertical-align: middle;
    height: 20px;
}

.ponza-editor{
    border: 1px solid #CFD8DC;
    width: 100%;
}

.ponza-editor-nav {
    height: 36px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CFD8DC;
    /*background: #333333;*/
}

.ponza-editor-body {
    /*padding: 20px;*/
    margin: 1px 5px 1px 1px;
}

.ponza-editor-body textarea {
    display: block;
    width: 100%;
    border: 10px;
    min-height: 150px;
    max-height: 500px;
    resize: vertical;
    max-width: 100%;
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    overflow: visible;
}
.ponza-submit{
    margin-top: 20px;
}

.ponza-editor-button {
    margin-top: 10px;
    float: right;
    color: #fff;
    background-color: #009688;
    position: relative;
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 110% 110%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ponza-editor-set-button {
    float: right;
    color: #fff;
    background-color: #009688;
    position: relative;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 110% 110%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ponza-copyright {
    display: inline;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    color: #666;;
}

.ponza-copyright p{
    display: inline;
    margin-bottom: 20px;
    text-align: right;
    font-size: 14px;
}

.ponza-copyright-href {
    display: inline;
    color: #009688;
}

.ponza-copyright-href:hover {
    text-decoration: underline;
}

.ponza-editor-input {
    display: inline;
    width: 100%;
    resize: vertical;
    max-width: 30%;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    height: 30px;
    font-size: 14px;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    vertical-align: middle;
    border:1px solid #CFD8DC;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    overflow: visible;
}

@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
.gradient-wrapper {
    overflow: hidden;
    animation:
            wrapper-gradient 500ms linear,
            fade-in 500ms linear;
}

.ponza-editor-error {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #666;;
}

.ponza-user-set {
    width: 100%;
}

.ponza-page-change{
    margin: 20px;
}

/*分页*/
.pagination {
    margin-top: 18px;
    font-size: 0;
    text-align: center; }
.pagination .page-li {
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
.pagination .page-li:hover {
    cursor: pointer;
    background-color: #EAEAEA; }
.pagination .page-li.page-active {
    cursor: default;
    color: #fff;
    border-color: #009688;
    background-color: #009688; }
.pagination .page-li.number-ellipsis {
    border: none;
    cursor: default; }
.pagination .page-li.number-ellipsis:hover {
    background-color: #fff; }
.pagination .page-number {
    width: 38px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #EAEAEA;
    text-align: center; }
.pagination .page-prev {
    padding: 8px 14px;
    margin-right: 8px;
    border: 1px solid #EAEAEA; }
.pagination .page-prev.no-prev {
    color: #c6c6c6; }
.pagination .page-prev.no-prev:hover {
    cursor: default;
    background-color: #fff; }
.pagination .page-next {
    padding: 8px 14px;
    margin-left: 8px;
    border: 1px solid #EAEAEA; }
.pagination .page-next.no-next {
    color: #c6c6c6; }
.pagination .page-next.no-next:hover {
    cursor: default;
    background-color: #fff; }
.pagination .number-ellipsis {
    display: inline-block;
    font-size: 15px;
    padding: 8px 14px; }
.pagination .number-ellipsis.page-hidden {
    display: none; }
#page-go {
    margin-top: 10px;
    text-align: center;
}